<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <style>
        /** { border: 1px solid red !important; }*/
    </style>

</head>
<body>

<!--Navigation Bar-->
<div th:replace="base :: navbar"></div>
<div th:replace="base :: categorybar"></div>
<br>
<br>



<!--Confirm Cart Contents-->
<div class="container">

    <h1>Confirm Items in Cart</h1>


    <form th:action="@{/creditform}" th:object="${cart}" method="post">

    </form>


    <div th:object="${cart1}">

        <table class="table table-dark table-hover table-striped">
            <p><strong>Free Shipping on Orders Over $50, $7.99 Standard Shipping on Orders Under $50</strong></p>
            <thead>
            <tr style="font-family: 'Spectral SC', serif;">
                <td></td>
                <td>Product</td>
                <td>Description</td>
                <td>Product Price</td>
                <td>Cart Price</td>
                <td>Total Price w/Shipping</td>
            </tr>
            </thead>

            <tbody>
            <tr th:each="product : ${cart1.productsInCart}">
                <td><img th:src="${product.image}" class="img-thumbnail" style="height: 180px; object-fit: scale-down"></td>
                <td th:inline="text"><strong>[[${product.name}]]</strong></td>
                <td th:text="${product.description}"></td>
                <td class="text-nowrap" th:inline="text"><strong>$ [[${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}]]</strong></td>
                <!--<td th:text="${product.price}"></td>-->
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <!--<td th:inline="text"><strong>Cart Total<br>[[${cart1.sum}]]</strong></td>-->
                <td class="text-nowrap" th:inline="text"><strong>Cart Total<br>$ [[${#numbers.formatDecimal(cart1.sum, 0, 'COMMA', 2, 'POINT')}]]</strong></td>
                <!--<td th:inline="text"><strong>Total w/Shipping<br>[[${cart1.total}]]</strong></td>-->
                <td class="text-nowrap" th:inline="text"><strong>Total w/Shipping<br>$ [[${#numbers.formatDecimal(cart1.total, 0, 'COMMA', 2, 'POINT')}]]</strong></td>
            </tr>
            </tbody>
        </table>
        <div style="float: right">
            <a th:href="@{/creditform}"><button type="button" class="btn btn-small btn-primary" >Checkout</button></a>
        </div>
    </div>

</div>


</body>
</html>